<div class="container mt-4">
  <h2 class="text-center py-5 text-purple">Product List</h2>
  <div class="table-responsive mb-3">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr class="text-center">
          <th scope="col">Product Image</th>
          <th scope="col">Product Name</th>
          <th scope="col">Description</th>
          <th scope="col">Category</th>
          <th scope="col">Price</th>
          <th scope="col">Quantity</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        @for (product of products; track product._id) {
        <tr>
          <td class="text-center">
            <img
              [src]="'http://localhost:8000/api/' + product?.picture"
              alt=""
              width="100px"
              height="70px"
            />
          </td>
          <td>{{ product.name }}</td>
          <td class="text-center">{{ product.description }}</td>
          <td class="text-center">{{ product.category }}</td>
          <td class="text-center">{{ product.price }}</td>
          <td class="text-center">{{ product.quantity }}</td>

          <td class="d-flex justify-content-center">
            <button
              class="btn btn-danger btn-sm m-2"
              (click)="deleteProduct(product._id!)"
            >
              Delete
            </button>
            <button
              class="btn btn-info btn-sm m-2"
              (click)="updateProduct(product)"
            >
              Edit
            </button>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>

<!-- Display the edit product form if selectedProduct is not null -->
<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div *ngIf="selectedProduct" class="d-flex justify-content-center">
        <app-edit-product [product]="selectedProduct"></app-edit-product>
        <div>
          <button (click)="closeEdit()" class="btn btn-danger">X</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <!-- Pagination Controls -->
  <div class="row py-3">
    <div class="col-sm-8 offset-sm-2 d-flex justify-content-center">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#">Previous</a></li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>
