<div class="container py-5">
  <div class="row py-5">
      <div class="col-lg-1 d-none d-lg-flex align-items-center">
          <div class="lc-block d-flex" style="writing-mode: vertical-rl; transform:rotate(180deg)">
              <a class="btn btn-link my-2 text-purple text-decoration-none" href="#" role="button">Facebook</a>
              <a class="btn btn-link my-4 text-purple text-decoration-none" href="#" role="button">Twitter</a>
              <a class="btn btn-link my-2 text-purple text-decoration-none" href="#" role="button">Youtube</a>
          </div><!-- /lc-block -->
      </div><!-- /col -->
      <div class="col-sm-6 d-flex d-lg-none flex-sm-column align-items-center justify-content-around mb-4 mb-sm-0">
          <div class="lc-block">
              <a class="btn btn-link text-purple text-decoration-none" href="#" role="button">Facebook</a>

          </div>
          <div class="lc-block">
              <a class="btn btn-link text-purple text-decoration-none" href="#" role="button">Twitter</a>

          </div>
          <div class="lc-block">
              <a class="btn btn-link text-purple text-decoration-none" href="#" role="button">Youtube</a>

          </div>
      </div>
      <div class="col-lg-4 col-sm-6">
          <div class="lc-block ratio ratio-1x1">
              <img style="object-fit:cover" class="img-fluid" src="./images/hero-section.jpeg" alt="Photo by Atikh Bana">
          </div><!-- /lc-block -->
      </div><!-- /col -->
      <div class="col-lg-4 offset-lg-1">
          <div class="lc-block my-5">
              <div editable="rich">
                  <h2 class="rfs-25 text-purple">Nunc et metus id ligula malesuada.</h2>
              </div>
          </div>
          <div class="lc-block my-5">
              <div editable="rich">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et metus id ligula malesuada placerat sit amet quis.</p>
              </div>
          </div><!-- /lc-block -->
          <div class="lc-block">
              <a class="btn btn-purple btn-lg" routerLink="/products" routerLinkActive="active" role="button">See All Products </a>
          </div><!-- /lc-block -->
      </div><!-- /col -->
  </div>
</div>
